<Configuration status="DEBUG">

    <!-- Define appenders -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="File" fileName="C:/Users/Wavemaker/IdeaProjects/Logs/LeaveManagementLogs/app.log"
                     filePattern="C:/Users/Wavemaker/IdeaProjects/Logs/LeaveManagementLogs/app.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <!-- Define loggers -->
    <Loggers>
        <Logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Root logger -->
        <Root level="debug">
            <!-- Reference the Console and File appends -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>
</Configuration>