<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <context:component-scan base-package="com.wavemaker.employee"/>
    <!-- HikariCP DataSource -->
    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/employee_leave_management"/>
        <property name="username" value="root"/>
        <property name="password" value="Root123@"/>
        <!-- HikariCP specific properties -->
        <property name="maximumPoolSize" value="4"/>
        <property name="minimumIdle" value="2"/>
        <property name="idleTimeout" value="30000"/>
        <property name="connectionTimeout" value="20000"/>
        <property name="maxLifetime" value="1800000"/>
    </bean>

    <!-- MySQL DataSource -->
    <bean name="springDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/employee_leave_management"/>
        <property name="username" value="root"/>
        <property name="password" value="Root123@"/>
    </bean>
    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="hikariDataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.wavemaker.employee.pojo.Employee</value>
                <value>com.wavemaker.employee.pojo.LeaveType</value>
                <value>com.wavemaker.employee.pojo.UserEntity</value>
                <value>com.wavemaker.employee.pojo.Holiday</value>
                <value>com.wavemaker.employee.pojo.EmployeeLeaveSummary</value>
                <value>com.wavemaker.employee.pojo.LeaveRequest</value>
                <value>com.wavemaker.employee.pojo.EmployeePassword</value>
            </list>
        </property>

    </bean>
    <bean name="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
<!--    &lt;!&ndash; JPA Configuration &ndash;&gt;-->
<!--    <bean id="jpaEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
<!--        <property name="dataSource" ref="hikariDataSource"/>-->
<!--        <property name="packagesToScan" value="com.wavemaker.employee.pojo"/>-->
<!--        <property name="jpaVendorAdapter">-->
<!--            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>-->
<!--        </property>-->
<!--        <property name="jpaProperties">-->
<!--            <props>-->
<!--                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>-->
<!--                <prop key="hibernate.show_sql">true</prop>-->
<!--                <prop key="hibernate.hbm2ddl.auto">update</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
<!--        <property name="entityManagerFactory" ref="jpaEntityManagerFactory"/>-->
<!--    </bean>-->

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>